// grey scale 
$grey-primary: #f1f1f1;
$grey-secondary: #e2e3e7;
$grey-third: #ebecef;

//blue scale
$blue-primary: #132e43;
$blue-secondary: #12565c;
$blue-third: #058283;

//azzurro scale
$azz-primary: #a1fcdf;
$azz-secondary: #c4d9db;

//black scale
$black-primary: #1f2e38;
